fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt==3.2.0
numpy
pandas
scikit-learn
xgboost
shap
